body{
    font-family: Arial;
    background: #ccc;
    max-width: 900px;
    margin: auto;
}

a{
    text-decoration: none;
    color: rgb(53, 51, 51);
}

#title, .subtitle, .post_title{
    color: rgb(53, 51, 51);
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

.post_title{
    font-style: italic;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 10px;
    border: 3px solid rgb(53, 51, 51);
    margin-bottom: 15px;
    border-radius: 5px 30px;
    text-transform: capitalize;
    text-align: justify;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.foto_perfil{
    border-radius: 50%;
    border: 7px solid gray;   
    
}

.redes_sociais{
    list-style-type: none;
    text-align: justify;
    padding-left: 15px;
}